---
layout: default
---

  <span class="icon"><i class="fas fa-arrow-left"></i></span>
  Zurück zum <a href="{{ site.url }}/blog">Blog</a>

  <h1 class="title">{{ page.title }}</h1>

  <p class="subtitle">
    <span class="icon"><i class="fa fa-calendar-alt"></i></span>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }}.
      {% case m %}
        {% when '1' %}Jänner
        {% when '2' %}Februar
        {% when '3' %}März
        {% when '4' %}April
        {% when '5' %}Mai
        {% when '6' %}Juni
        {% when '7' %}Juli
        {% when '8' %}August
        {% when '9' %}September
        {% when '10' %}Oktober
        {% when '11' %}November
        {% when '12' %}Dezember
      {% endcase %}
      {{ page.date | date: "%Y" }}
    </time>

    {% if page.author %} • {{ page.author }} {% endif %}
  </p>

  {{ content }}

  <span class="icon"><i class="fas fa-arrow-left"></i></span>
  Zurück zum <a href="{{ site.url }}/blog">Blog</a>
</article>